.MonthList {
    text-align: center;
}

.MonthList-header {
    background-color: #222;
    min-height: 120px;
    padding: 20px;
    color: white;
}

.MonthList-title {
    font-size: 1.5em;
}

.MonthList-intro {
    font-size: large;
}

@keyframes MonthList-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}
