.Header {
    text-align: center;
}

.Header-header {
    min-height: 20px;
    padding: 10px;
    color: white;
}

.Header-title {
    font-size: 1.5em;
}

h3 {
    margin: 0px;
    font-size: 2em;
}
