.MonthItem {
    text-align: center;
}

.MonthItem-header {
    background-color: #222;
    min-height: 120px;
    padding: 20px;
    color: white;
}

.MonthItem-title {
    font-size: 1.5em;
}

.MonthItem-intro {
    font-size: large;
}

@keyframes MonthItem-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

li {
    list-style-type: none;
    margin: 10px;
}

button {
    font-size: larger;
    background-color: lightskyblue;
    border: solid black 1px;
    border-radius: 5px;
    min-width: 200px;
    min-height: 75px;
}