li {
    list-style-type: none;
    margin: 10px;
}

button {
    font-size: larger;
    background-color: lightskyblue;
    border: solid black 1px;
    border-radius: 5px;
    min-width: 200px;
    min-height: 75px;
}
